<div class="comments">
    {{#each this}}
    <section class="comment mt-3 ml-3">
        <div class="metadata">
            <p class="has-text-weight-semibold">{{user.username}} on {{formatDate created_at}}</p>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>