<section>
    <h2 class="title">Create New Blog Post</h2><hr>

    <form class="new-post-form">

        <div>
            <input type="text" placeholder="Enter the Post Title" id="post-title" />
        </div>

        <div>
            <input class="textarea is-large" placeholder="Type your post content" id="post-content" />
        </div>

        <button type="submit" class="button is-primary is-pulled-right">Create Post</button>

    </form>

</section>

<script src="/js/create-post.js"></script>
