<div class="columns is-centered">

    <form class="column is-half login-form">

        <p class="has-text-centered mb-3">Already a user? Login:</p>

        <div class="has-text-centered mb-3">
            <input type="text" placeholder="Username" id="username-login" />
        </div>

        <div class="has-text-centered mb-3">
            <input type="password" placeholder="Password" id="password-login" />
        </div>

        <div class="has-text-centered mb-3">
            <button type="submit" class="button is-primary">Login</button>
        </div>

    </form>
</div>

<div class="columns is-centered">

    <form class="column is-half signup-form">

        <p class="has-text-centered mb-3">New user? Sign up!</p>

        <div class="has-text-centered mb-3">
            <input type="text" placeholder="Enter Username" id="username-signup" />
        </div>

        <div class="has-text-centered mb-3">
            <input type="password" placeholder="Enter Password" id="password-signup" />
        </div>

        <div class="has-text-centered mb-3">
            <input type="text" placeholder="Enter Email" id="email-signup" />
        </div>

        <div class="has-text-centered mb-3">
            <button type="submit" class="button is-primary">Signup</button>
        </div>

    </form>
</div>

<script src="/js/login.js"></script>