{{!-- Display articles: --}}
{{> post-info post}}

{{!-- Only display form and comments if logged in: --}}
{{#if loggedIn}}
<form class="comment-form">

    <div class="columns">
        <div class="column is-four-fifths">
            <textarea class="ml-5 textarea is-small" name="comment-body"></textarea>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <button class="button is-warning ml-5" type="submit">Add Comment</button>
        </div>
    </div>

</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}